.container {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.unifil img {
    width: 100px;
}

.title {
  font-size: 2rem;
  color: #4CAF50;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
}

.profilesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}